

#root{
  display:flex;
  column-gap:10%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.divBox{
  border: solid 0.1vw blue;
  width:30vw;
  height:auto;
  padding: 1vw;
}

.divBox#inp{
display: flex;
flex-direction: column;
margin-top:10vw;
}

.divBox div{
  margin:10% 2%;
  display:flex;
  flex-direction: column;
  width:70%;
}

input, textarea{
  padding: 2%;
  border:0.1vw blue solid;
  border-radius:0.3vw;;
}

[maxlength|="1"]{
  width: 10%;
  align-self: center;
}
